@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-weight: bolder;
}

.App {
  background-color: rgb(241, 239, 234);
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid rgb(215, 230, 8);
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fafbfc;
}

tr:hover {
  background-color: rgb(250, 252, 252)
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d7e611;
  color: rgb(10, 1, 1);
}